.price-simulator {
  padding: 0 0 5em 0;  
}

.actions .fas {
  cursor: pointer;
  margin: 0 0.3em;
  font-size: 1.2em;
  padding: 0.1em;
  color: #9f42ff;
}

.actions .fa-equals {
  background: #9f42ff;
  color: white;
  border-radius: 15%;
  font-size: 1.3em;
}


.controls label {
  font-size: 1.3em;
  text-align: right;
}

.controls .actions {
  text-align: left;
}

.controls .actions {
  padding: 0.8em 0;
}

.price {
  font-size: 4em;
}

.high-value {
  background: #ffffa6;
}

.unused {
  background-color: #efefef;
}

.buttons button{
  margin: 1em 1em;
}

.card {
  margin: 0.5em 0;
}

.card h5 {
  cursor: pointer;
}